
body {
  font-family: Arial, "Arial Unicode MS", Helvetica, Verdana, sans-serif;
}

/******************************************************************************/
a,
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}

/******************************************************************************/
pre {
  background: #212529;
  color: #00ff00;
  padding: 1rem;
}
